
   h1{
    color:orangered;
    
}
h2{
    color:red;
}
li{
 color:darkred;
 font-size:large;   
}

p{
    color:#864000;
    
}
a{
    color:orangered;
    
}
ul{
    letter-spacing: 4px;
}
span{
    background-color: yellow;
}